<div class="space-y-4">
  <ng-container *ngIf="tasks.length; else emptyState">
    <ng-container *ngFor="let task of tasks">
      <app-task-card
        [task]="task"
        [dueDate]="getNextDueDate(task.lastDate, task.cycle, task.unit)"
        [daysRemaining]="getDaysRemaining(getNextDueDate(task.lastDate, task.cycle, task.unit))"
        [status]="getStatus(getDaysRemaining(getNextDueDate(task.lastDate, task.cycle, task.unit)))"

        (complete)="complete.emit(task.id)"
        (delete)="delete.emit(task.id)"
      />
    </ng-container>
  </ng-container>

  <ng-template #emptyState>
    <div class="text-center py-10 text-slate-400 bg-white rounded-2xl border border-dashed border-slate-300">
      <wrench class="w-12 h-12 mx-auto mb-2 opacity-20" />
      Chưa có công việc nào. Hãy thêm mới!
    </div>
  </ng-template>
</div>
